services:
  flask:
    build:
      context: .
      dockerfile: flask/Dockerfile.local
    volumes:
      - .:/chalan
    ports:
      - 8001:8001
    env_file: .env.dev
    restart: always
    links:
      - db:dbserver
  vuex:
    build:
      context: .
      dockerfile: vuex/Dockerfile.local
    volumes:
      - ./frontend:/chalan
      - /chalan/node_modules
    ports:
      - 8080:8080
    env_file: frontend/.env.development
    restart: always
  nginx:
    build:
      context: .
      dockerfile: nginx/Dockerfile.local
    ports:
      - 80:8000
    restart: always
  db:
    image: postgres:17-alpine
    ports:
      - "5432:5432"
    env_file: .env.postgres.dev
    restart: always
    volumes:
      - ./db:/docker-entrypoint-initdb.d
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: