{% extends 'layout.html' %}
{% block body %}
<div class="flex flex-wrap my-10">
  <div class="w-full mb-4 max-w-xl mx-auto">
    <p class="mt-6 mb-2 text-xl">
      <strong>NOSOTROS</strong>
    </p>
    <p class="mt-6 mb-2">
      <b>Chalán</b> es una plataforma digital que facilita (automatiza) el requerimiento de movilidad para mudanzas locales y foráneas brindando una lista de vehículos donde mostramos precio y tamaño, además de una descripción del vehículo.
    </p>
    <p class="mt-6 mb-2">
      Si no contamos con cobertura para la zona y horario que el usuario indica, un chalán buscará personalmente hasta tres opciones y lo enviará al cliente para que pueda elegir el que más le convenga. 
    </p>
    <p class="mt-6 mb-2">
      Lo que requerimos del cliente es:
      <ul>
        <li>- Las direcciones de donde y hacia donde se quiere mudar</li>
        <li>- Los pisos de las viviendas</li>
        <li>- La fecha de la mudanza</li>
      </ul>   
    </p>
  </div>
</div>
{% endblock %}