{% extends 'layout.html' %}
{% block body %}
<div class="flex flex-wrap my-10">
  <div class="w-full mb-4 max-w-xl mx-auto">
    <p class="mt-6 mb-2 text-xl"">
      <strong>CONTACTO</strong>
    </p>
    <p class="mt-6 mb-2">
      Si tienes alguna duda o sugerencia, comunícate con nosotros al
      <i class="fa fa-phone ml-2"> 
        <a href="tel:{{data_by_country.phone}}">{{data_by_country.phone}}</a>
      </i> o al correo <b><a href="mailto: {{data_by_country.email}}">{{data_by_country.email}}</a></b>.
    </p>
    <p class="mt-6 mb-2">
      Si tienes vehículos de mudanza y quieres trabajar con nosotros como socio Chalán
      comunícate al  <i class="fa fa-phone ml-2"> <a href="tel:{{data_by_country.phone}}">{{data_by_country.phone}}</a></i> en horarios de 8:00 a 20:00 horas.
    </p>
  </div>
</div>
{% endblock %}