{% extends 'layout.html' %}
{% block body %}
<div class="flex flex-wrap my-10">
  <div class="w-full mb-4 max-w-xl mx-auto">
    <p class="mt-6 mb-2 text-xl">
      <strong>PREGUNTAS FRECUENTES</strong>
    </p>
    <p class="mt-6 mb-2">
      Esta sección esta en construcción, por favor háganos llegar sus dudas con un mensaje al Whatsapp <a href="tel:{{data_by_country.phone}}"><b>{{data_by_country.phone}}</b></a> o al correo 
      <b><a href="mailto: {{data_by_country.email}}">{{data_by_country.email}}</a></b>.
    </p>
  </div>
</div>
{% endblock %}