{% extends 'layout.html' %}
{% block body %}
<div class="home">
  <!--Hero-->
  <div
    class="lg:pt-32 lg:pb-56 py-20 bg-cover"
    style="background-image: url('https://chalan-public.s3.amazonaws.com/home/shipping-boxes-dark-resized.jpg')"
  >
    <div class="container mx-auto px-6 text-left">
      <h1 class="
        lg:w-3/5
        w-auto
        text-4xl
        font-bold
        mb-2
      text-white">
        En Chalán te ayudamos a encontrar el vehículo ideal para tu mudanza o flete
      </h1>
      <h2 class="
        lg:w-3/5
        w-auto
        text-2xl
        mb-8
      text-gray-200">
        Chalán te muestra una lista de
        vehículos según tamaño y precio. Escoge el que más te convenga.
      </h2>
      <a href="/order/step-one" class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-full py-4 px-8 shadow-lg tracking-wider"> Ver precios </a>
    </div>
  </div>
  <!-- Testimonials -->
  <section class="bg-gray-100">
    <div class="container mx-auto px-6 py-20">
      <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">
        Nuestros clientes nos recomiendan
      </h2>
      <div class="flex flex-wrap">
        <div class="md:w-1/3 md:px-4 mt-6 md:mt-0">
          <div class="bg-white
            testimonial
            p-6
            border-2
            border-solid
            flex
            hover:border-blue-500
            hover:bg-blue-100
            transition-colors
            duration-300">
            <div class="w-16 h-16 md:w-20 md:h-20 rounded-full overflow-hidden mr-4 md:mr-6 flex-shrink-0">
              <img src="{{ url_for('main.static', filename='testimonials/sofia.jpg') }}" alt="profile image" class="w-full h-full object-cover">
            </div>
            <div>
              <p class="text-gray-600">
                "Suuuuuuper contenta con el servicio!!!! Se ajustó perfectamente a mis necesidades y a muy buen precio!! Super super recomendable!!!"
              </p>
              <div class="text-gray-900 font-bold uppercase mt-6">- Sofía P.</div>
            </div>
          </div>
        </div>

        <div class="md:w-1/3 md:px-4 mt-6 md:mt-0">
          <div class="bg-white
            testimonial
            p-6
            border-2
            border-solid
            flex
            hover:border-blue-500
            hover:bg-blue-100
            transition-colors
            duration-300">
            <div class="w-16 h-16 md:w-20 md:h-20 rounded-full overflow-hidden mr-4 md:mr-6 flex-shrink-0">
              <img src="{{ url_for('main.static', filename='testimonials/demian.jpg') }}" alt="profile image" class="w-full h-full object-cover">
            </div>
            <div>
              <p class="text-gray-600">
                "Pude elegir entre varias opciones y precios. El servicio fue bueno y los chicos se esforzaron. No hubo ningún incidente y recomiendo el servicio."
              </p>
              <div class="text-gray-900 font-bold uppercase mt-6">- Demian M.</div>
            </div>
          </div>
        </div>

        <div class="md:w-1/3 md:px-4 mt-6 md:mt-0">
          <div class="bg-white
            testimonial
            p-6
            border-2
            border-solid
            flex
            hover:border-blue-500
            hover:bg-blue-100
            transition-colors
            duration-300">
            <div class="w-16 h-16 md:w-20 md:h-20 rounded-full overflow-hidden mr-4 md:mr-6 flex-shrink-0">
              <img src="{{ url_for('main.static', filename='testimonials/daniel.jpg') }}" alt="profile image" class="w-full h-full object-cover">
            </div>
            <div>
              <p class="text-gray-600">
                "Su plataforma es muy cómoda, permite cotizar y agendar tu viaje fácilmente."
              </p>
              <div class="text-gray-900 font-bold uppercase mt-6">- Daniel N.</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- Features -->
  <section class="container mx-auto px-6 p-10">
    <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">
      Múdate en sólo 4 pasos
    </h2>
    <div class="flex items-center flex-wrap mb-20">
      <div class="w-full md:w-1/2">
        <h4 class="text-3xl text-gray-800 font-bold mb-3">
          Indícanos las direcciones
        </h4>
        <p class="text-gray-600 mb-8 text-lg">
          Para cotizar con mayor precisión,
          necesitamos saber desde donde y a qué lugar te vamos a mover
        </p>
      </div>
      <div class="w-full md:w-1/2">
        <!-- <img src="../assets/health.svg" alt="Monitoring" /> -->
        <img src="https://chalan-public.s3.amazonaws.com/home/address.png" alt="direcciones" />
      </div>
    </div>
    <div class="flex items-center flex-wrap mb-20">
      <div class="w-full md:w-1/2">
        <!-- <img src="../assets/roadmap.svg" alt="Reporting" /> -->
        <img src="https://chalan-public.s3.amazonaws.com/home/date.png" alt="Fecha y hora" />
      </div>
      <div class="w-full md:w-1/2 pl-10">
        <h4 class="text-3xl text-gray-800 font-bold mb-3">
          Fecha y hora de tu mudanza
        </h4>
        <p class="text-gray-600 mb-8 text-lg">
          Ingresa la fecha y hora en la que vamos por tus cosas.
        </p>
      </div>
    </div>
    <div class="flex items-center flex-wrap mb-20">
      <div class="w-full md:w-1/2">
        <h4 class="text-3xl text-gray-800 font-bold mb-3">
          Escoge la movilidad
        </h4>
        <p class="text-gray-600 mb-8 text-lg">
          Enviamos los datos de tu mudanza a nuestros chalanes y una vez que tengan su cotización te mostraremos la lista de precios.
        </p>
      </div>
      <div class="w-full md:w-1/2">
        <img src="https://chalan-public.s3.amazonaws.com/home/truck-list.png" alt="Syncing" />
      </div>
    </div>
    <div class="flex items-center flex-wrap mb-20">
      <div class="w-full md:w-1/2">
        <!-- <img src="../assets/roadmap.svg" alt="Reporting" /> -->
        <img src="https://chalan-public.s3.amazonaws.com/home/payment.png" alt="Fecha y hora" />
      </div>
      <div class="w-full md:w-1/2 pl-10">
        <h4 class="text-3xl text-gray-800 font-bold mb-3">
          Opciones de pago
        </h4>
        <p class="text-gray-600 mb-8 text-lg">
          Contamos con dos opciones de pago, en efectivo y con tarjeta.
        </p>
      </div>
    </div>
  </section>
  <!--Call to Action-->
  <section class="bg-blue-500">
    <div class="container mx-auto px-6 text-center py-20">
      <h2 class="mb-6 text-4xl font-bold text-center text-white">
        Elige el vehículo que más te acomode
      </h2>
      <a href="/order/step-one" class="bg-white
        font-bold
        rounded-full
        mt-6
        py-4
        px-8
        shadow-lg
        uppercase
        tracking-wider"> Cotiza ahora </a>
    </div>
  </section>
</div>
{% endblock %}